<html>
<head>
    <title>FastBnB | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
{% include 'navbar.html' %}
{% include 'card.html' %}

    <!-- <div class="container mx-auto">
      <div class="flex">
          <div class="row w-full text-center my-4">
              <h1 class="text-4xl font-bold mb-5">FastBnB</h1>
          </div>
      </div>
      <div class="flex flex-row flex-wrap">
        {% for property in response %}
        <div class="flex-auto w-1/4 rounded overflow-hidden shadow-lg m-2">
            <img class="w-full" src="{{ property.image }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ property.name }} (Up to {{ property.guests }} guests)</div>
                <p>{{ property.address }}</p>
                <p class="text-gray-700 text-base">
                    {{ property.summary }}
                </p>
            </div>

            <div class="text-center py-2 my-2 font-bold">
                <span class="text-green-500">${{ property.price }}</span>/night (+<span class="text-green-500">${{ property.cleaning_fee }} </span>Cleaning Fee)
            </div>

            <div class="text-center py-2 my-2">
                <a href="/listing/{{property.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Details</a>
                <a href="/confirmation/{{property.id}}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Book</a>
            </div>
        </div>
      {% endfor %}
      </div>
    </div> -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>